html, body {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 550;
  width: 100%;
  margin: 0px;
  background-color: rgb(28, 32, 43);
  color: rgb(177, 177, 177);
  font-family: 'Roboto', sans-serif;
}


@media all and (max-width: 450px) {
  html, body {
      font-size: 0.7em;
      /* overflow:hidden; */

    }
    img {
      height: 20px;
      width: 20px;
      border-radius: 5px;
    }
}
@media all and (min-width: 2000px) {
  html, body {
      font-size: 1.4em;
  }
  img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }

    }


.navbar {
  line-height: 2.4em;
  margin-left: -3em;
  margin-top: -1em;
  margin-bottom: auto;
  flex: 1;
}
ul > li {
  list-style-type: none;
}
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat((12, 1fr), minmax(150px, 1fr)); 
  grid-auto-rows: 6em auto; 
  grid-template-areas: 
      " l h h h h h h h h h h h "
      " m c c c c c c c c c c c "      
}

.xs-text {
  font-size: 0.7em;
  margin-left: -0.5em!important;
}

.nav-text {
  margin-left: 1em;;
}
.nav-icon {
 padding-left: -1em;
}

.logo {
  grid-area: l;
  background-color: rgb(23, 26, 35);
 }

 #logo {
  font-size: 2em;
  padding-left: 1em;
  font-weight: 700;
  padding-top: 0.5em;
  color: rgb(225, 225, 227)
  
 }
.header {
  grid-area: h;

}

.menu {
  grid-area: m;
  background-color: rgb(23, 26, 35);
  padding-left: 1em;
  height: 100%;
}

.content {
  grid-area: c;

}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}
ul > li:hover:not(:first-child):not(:nth-child(9)):not(:nth-child(19)) {
  background-color:rgb(112, 112, 112);
  border-radius: 3px;
  opacity: 1;
  cursor: pointer;
}

.container > div:nth-child(4n) {
  background-color:rgb(28, 32, 43);
}
img {
  border-radius: 1em;
  margin-right: 0.5em;
  margin-left: -3em;
}
button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:37em;
  height: 3em;
  color: aliceblue;
  background-color: rgb(56, 60, 72);
  border: 0.1em solid rgb(69, 74, 86);
  text-align: center;
 -moz-appearance: none;
 -webkit-appearance: none;
  appearance:none;
  font-size: 1em;
  margin-left: 1em;

}
#header 
{
flex-shrink: 1em;
display: flex;
justify-content: center;
flex-wrap: nowrap;
align-items: center;
background-color: rgb(33, 38, 51);
}

.days {
  margin-left: auto;
  background-color: rgb(67, 68, 73);
  border-radius: 4px;
  color: beige;
  padding: 5px;
  text-align: center;
  margin-right: 1em;
  font-weight: 200;
}
.fa-user-circle{
  margin-right: 1.5em;
  font-size: 1.5em;
}
input[type='text'] {
  background-color: inherit;
  -moz-appearance: none;
-webkit-appearance: none;
outline: none;
appearance:none;
font-size: 1em;
margin-right: auto;
background-color: rgb(56, 60, 72);
height: 2em;
width: 35em;
padding-left: 1em;
border: 1px solid rgb(56, 60, 72);
color: rgb(225, 225, 227);
}

